/* ************************************
*== General
************************************* */
	body {
	    background-color: #145d94;
	    color: #afabab;
	    font-family: Tahoma, Geneva, sans-serif;
	    font-size: 13pt;
	    width: 100%;
	}
	.restricted-width {
		width: 768px;
		margin: 0 auto;
	}
	.dropshadow {
		box-shadow: 2px 2px 5px;
	}
	.monospaced {
		font-family: "Lucida Console", Monaco, monospace;
	}
	.icon {
		cursor: pointer;
		display: block;
		margin: 0 auto;
		width: 68px;
	}

/* ************************************
*== Gray section
************************************* */
	#gray-wrapper {
		background-color: #3a3a3a;
		border-radius: 20px;
		box-shadow: 4px 8px 14px #1d1d1d;
		margin-top: 30px;
	}
	#gray-wrapper #logo {
		display: block;
		margin: 0 auto;
		position: relative;
		top: 30px;
		width: 86%;
	}
	#instructions {
		margin-bottom: 36px;
	}
	.text-area {
		border-radius: 20px;
		border: none;
		display: block;
		font-family: "Lucida Console", Monaco, monospace;
		font-size: 14pt;
		height: 216px; /*without padding, height is 240px*/
		margin: 0 auto;
		padding: 12px;
		width: 290px; /*without padding, height is 314px*/
	}
	.aligned-with-textarea {
		margin-left: 13px;
	}
	#left-block {
		float: left;
		width: 350px;
	}
	#user-input{
		box-shadow: inset 10px 10px 23pt -16pt #1d1d1d;
		margin-bottom: 15px;
		position: relative;
		z-index: 10;
	}
	form {
		display: inline;
	}
	form button, form input {
	    background-color: #3a3a3a;
	    border-radius: 6px;
	    border: 2px solid #afabab;
	    color: #afabab;
	    font-family: "Lucida Console", Monaco, monospace;
	    font-size: 12pt;
	    text-align: center;
	    width: 75px;
	}
	form button {
	    cursor: pointer;
	}
	/*delimiter which was last selected: 
		border: 2px solid white;
		box-shadow: 0 0 25px;
		color: white;
	*/
	.red-error {
		color: red;
		margin: 1em 13px;
	}
	#middle-block {
		float: left;
		padding-top: 35px;
		width: 68;
	}
	#middle-block img {
		margin-bottom: 35px; 
	}
	#right-block {
		width: 350px;
		float: left;
	}
	#user-output {
		background-color: #5c5c5c;
		box-shadow: inset 10px 10px 23pt -24pt #1d1d1d;
		color: #ccc9c9;
		margin-bottom: 15px;
	}
	#gray-bottom-padding {
		border: none;
		clear: both;
		margin-bottom: 30px;
	}

/* ************************************
*== Blue section
************************************* */
	#blue-wrapper {
		height: 68px;
		margin-bottom: 77px;
		margin-top: 77px;
	}
	#blue-wrapper div {
		float: left;
		width: 50%;
	}
	#blue-bottom-padding {
		border: none;
		clear: both;
		/*margin-bottom: 100px; margin-bottom is determined by black-wrapper height*/
	}

/* ************************************
*== Black section
************************************* */
	#black-wrapper {
		bottom: 0;
		left: 0;
		min-width: 768px;
		position: fixed;
		width: 105%;
		z-index: 20;
	}

	#black-wrapper #toggle-log {
		background-color: #1d1d1d;
		border-radius: 0 48px 0 0;
		width: 90px;
	}
	#black-wrapper #log-wrapper {
		background-color: #1d1d1d;
		min-width: 768px;
		width: 100%;
	}
	@media only screen and (max-width: 768px) {
		#black-wrapper #log-wrapper {
			display: none;
		}
	}
	#black-wrapper #log {
		margin: 0 auto;
		width: 768px;
	}
