/* ************************************
*== Global
************************************* */
	body {
		background-color: #145d94;
		color: #afabab;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 13pt;
		width: 100%;
	}
	.icon {
		cursor: pointer;
		display: block;
		margin: 0 auto;
		width: 68px;
	}
	.indented {
		margin-left: 30px;
	}
	.monospaced {
		font-family: "Lucida Console", Monaco, monospace; font
	}
	.restricted-width {
		width: 768px;
		margin: 0 auto;
	}

/* ************************************
*== Gray section
************************************* */
	#gray-wrapper {
		background-color: #3a3a3a;
		border-radius: 20px;
		box-shadow: 4px 8px 14px #1d1d1d;
		margin-top: 30px;
	}
	#gray-wrapper #logo {
		display: block;
		margin: 0 auto;
		position: relative;
		top: 30px;
		width: 86%;
	}
	#instructions {
		margin-bottom: 36px;
	}
	.text-area {
		border-radius: 20px;
		border: none;
		display: block;
		font-size: 14pt;
		height: 216px; /*without padding, height is 240px*/
		margin: 0 auto;
		padding: 12px;
		width: 290px; /*without padding, height is 314px*/
	}
	.aligned-with-textarea {
		margin-left: 13px;
	}
	#left-block {
		float: left;
		width: 350px;
	}
	#user-input{
		box-shadow: inset 10px 10px 23pt -16pt #1d1d1d;
		margin-bottom: 15px;
		position: relative;
		z-index: 10;
	}
	form {
		display: inline;
		margin-left: 13px;
	}
	form button, form input {
		background-color: #3a3a3a;
		border-radius: 6px;
		border: 2px solid #afabab;
		font-family: "Lucida Console", Monaco, monospace; font
		font-size: 12pt;
		text-align: center;
		width: 87px;
	}
	form button {
		cursor: pointer;
	}
	.unselected-delimiter {
		box-shadow: none;
		color: #afabab;
	}
	.selected-delimiter-auto {
		box-shadow: 0 0 25px white;
		color: white;
	}
	.selected-delimiter-manual {
		border: 2px solid white;
		box-shadow: 0 0 18px 7px black;
		color: white;
	}
	#delimiter_commaSpaces {
		margin-left: 105px;
	}
	.red-error {
		color: red;
		display: none;
		margin: 1em 13px;
	}
	#middle-block {
		float: left;
		padding-top: 30px;
		width: 68;
	}
	#middle-block img {
		margin-bottom: 24px; 
	}
	#right-block {
		width: 350px;
		float: left;
	}
	#right-block span {
		display: block;
	}
	#user-output {
		background-color: #5c5c5c;
		box-shadow: inset 10px 10px 23pt -24pt #1d1d1d;
		color: #ccc9c9;
		margin-bottom: 15px;
	}
	#copied-to-clipboard {
		display: none;
	}
	#gray-bottom-padding {
		border: none;
		clear: both;
		margin-bottom: 30px;
	}

/* ************************************
*== Blue section
************************************* */
	#blue-wrapper {
		height: 68px;
		margin-bottom: 77px;
		margin-top: 77px;
	}
	#blue-wrapper div {
		float: left;
		width: 50%;
	}
	#blue-bottom-padding {
		border: none;
		clear: both;
		/*margin-bottom: 100px; margin-bottom is determined by black-wrapper height*/
	}

/* ************************************
*== Black section
************************************* */
	#black-wrapper {
		bottom: 0;
		left: 0;
		position: fixed;
		z-index: 20;
	}
	.bw-maximized {
		min-width: 768px;
		width: 105%;
	}
	.bw-minimized {
		min-width: 0;
		width: 90px;
	}
	#black-wrapper #toggle-log {
		background-color: #1d1d1d;
		border-radius: 0 48px 0 0;
		box-shadow: 2px 2px 5px black;
		width: 90px;
	}
	#black-wrapper #toggle-log #log-button {
		margin-left: 6px;
	}
	#black-wrapper #log-wrapper {
		box-shadow: 2px 2px 5px black;
		background-color: #1d1d1d;
		display: none;
		min-width: 768px;
		width: 100%;
	}
	#black-wrapper #log {
		margin: 0 auto;
		width: 768px;
	}